<ion-view hide-nav-bar="true">
  <ion-header-bar class="item-input-inset bar-no-border">
    <div horizontal layout>
      <div>
        <img src="" random-avatar class="thumb-xs rounded" alt="">
      </div>
      <div class="m-l-sm m-r-sm" flex>
        <div class="item-input input-search r-2x bg-muted">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search your Pins" ng-model="query">
        </div>
      </div>

      <div>
        <button class="button button-clear button-icon icon-small ion-plus-round" ng-click="openAddPin()"></button>
        <button class="button button-clear button-icon icon-small ion-gear-a" ui-sref="tab.settings"></button>
      </div>
    </div>
  </ion-header-bar>

  <ion-content>
    <!-- All Pins -->
    <div class="pin-collection wrapper-sm">
      <div class="m-b-xl" ui-sref="tab.profile">
        <div class="text-xl font-bold">All Pins</div>
        <div class="text-muted text-xs font-bold m-b-xs">1.9k</div>

        <div class="pins m-b-sm">
          <div class="columns-3">
            <img ng-src="img/item_{{$index % 4 + 1}}.jpg" class="w-full" alt="" ng-repeat="i in [0,1,2,3,4,5,6,7]"/>
          </div>
        </div>
      </div>

      <div class="text-xs m-b-sm">Boards</div>

      <div class="m-b-xl" ng-repeat="i in [0,1,2,3,4]" ui-sref="tab.collection">
        <div class="text-xl font-bold">Board number {{$index + 1}}</div>
        <div class="text-muted text-xs font-bold m-b-xs">1.9k</div>

        <div class="pins m-b-sm">
          <div class="columns-3">
            <img ng-src="img/item_{{$index % 4 + 1}}.jpg" class="w-full" alt="" ng-repeat="i in [0,1,2,3,4,5,6,7]"/>
          </div>
        </div>
      </div>
    </div>

    <div class="item item-icon-left b-none">
      <i class="icon ion-plus-circled assertive"></i>
      <div class="font-bold text-lg text-muted">Create board</div>
    </div>
  </ion-content>
</ion-view>
