<ion-view view-title="" hide-nav-bar="false">
  <ion-nav-bar class="bar-no-border">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-heart text-muted icon-small"></button>
      <button class="button button-icon ion-ios-paperplane text-muted"></button>
      <button class="button button-icon ion-android-more-horizontal text-muted" ng-click="openActionSheet()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-assertive icon-left ion-pin" ng-click="openPinit()">
        <span class="font-bold inline">Save</span>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ion-sticky>
    <div class="wrapper">
      <img ng-src="img/item_{{postId}}.jpg" alt="" class="post-image w-full m-b">

      <div class="row no-padder m-b-sm l-h-1x text-xxs">
        <div class="col-75">
          <div>Saved from</div>
          <div class="font-bold">images.google.com</div>
        </div>
        <div class="col-25 text-right">
          <button class="button button-small button-stable padder-md font-bold">Visit</button>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div>
        <img src="img/adam.jpg" alt="" class="thumb-xxs rounded pull-left m-r-xs">
        <div class="clear text-xs l-h">
          <div class="m-b-xs">
            <span class="font-bold">Hieu Pham</span> saved to <span class="font-bold">My favorites</span>
            <p>This is the latest trending that I love so much. Must-have item in this winter.</p>
          </div>
        </div>
      </div>

      <div class="clearfix b-b b-light m-b"></div>

      <div>
        <img src="img/pin_like.jpg" alt="" class="thumb-xxs pull-left m-r-xs">
        <div class="clear text-xs l-h">
          <div class="m-b-xs">
            See all <span class="font-bold">1.2k</span> People
          </div>
          <div>
            <img src="img/collection.png" alt="" class="thumb-md inline m-r-sm" ng-repeat="i in [0,1,2]">
          </div>
        </div>
      </div>

      <div>
        <button class="button button-clear button-small button-stable font-bold" ng-click="openComment()">
          Add a comment
        </button>
      </div>

      <div class="clearfix b-b b-light m-t m-b-sm"></div>
    </div>

    <div class="item item-divider light-bg text-muted text-lg font-bold b-none">More like this</div>
    <div ng-include="'templates/shared/posts.html'"></div>

  </ion-content>
</ion-view>
