<ion-view view-title="" hide-nav-bar="false">
  <ion-nav-bar class="bar-no-border">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon machine text-muted icon-medium"></button>
      <button class="button button-icon skull text-muted icon-small"></button>
      <button class="button button-icon diamond text-muted icon-small"></button>
      <button class="button button-icon heart text-muted icon-small"></button>
      <!-- <button class="button button-icon ion-ios-paperplane text-muted"></button> -->
      <!-- <button class="button button-icon ion-android-more-horizontal text-muted" ng-click="openActionSheet()"></button> -->
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-assertive icon-left ion-pin" ng-click="openPinit()">
        <span class="font-bold inline">Salvar</span>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ion-sticky>
    <div class="wrapper">
      <img ng-src="img/item_{{postId}}.jpg" alt="" class="post-image w-full m-b">

      <div class="row no-padder m-b-sm l-h-1x text-xxs">
        <div>
          <img src="img/adam.jpg" alt="" class="thumb-xxs rounded pull-left m-r-xs">
          <div class="clear text-xs l-h">
            <div class="m-b-xs">
              <span class="font-bold">Hieu Pham</span> from <span class="font-bold">Hardcore Tatto Studio</span>
              <p>Maori, tribal, Old School...</p>
            </div>
          </div>
        </div>
        <div class="col-25 text-right">
          <button class="button button-small button-stable padder-md font-bold">Visitar</button>
        </div>
      </div>
    </div>

    <div class="wrapper">

      <div class="clearfix b-b b-light m-b"></div>


      <div>
        <button class="button button-clear button-small button-stable font-bold" ng-click="openComment()">
          Adicionar comentário
        </button>
      </div>

      <div class="clearfix b-b b-light m-t m-b-sm"></div>
    </div>

    <div class="item item-divider light-bg text-muted text-lg font-bold b-none">Mais tattoos neste estilo</div>
    <div ng-include="'templates/shared/posts.html'"></div>

  </ion-content>
</ion-view>
