<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <div class="item font-bold text-lg padder-md b-none">
        Edit profile
      </div>

      <div class="item font-bold text-lg padder-md b-none">
        Edit settings
      </div>

      <div class="item font-bold text-lg padder-md b-none">
        Find friends
      </div>
    </div>

    <div class="list">
      <div class="item font-bold text-lg padder-md b-none">
        Get help
      </div>

      <div class="item font-bold text-lg padder-md b-none">
        See terms and privacy
      </div>
    </div>

    <div class="list">
      <div class="item font-bold text-lg padder-md b-none">
        <span class="text-muted">Log out</span>
      </div>
    </div>
  </ion-content>
</ion-view>
