<!-- Messages -->
<div class="item item-icon-left b-none">
  <i class="icon ion-plus-circled assertive"></i>
  <div class="font-bold text-lg text-muted">New message</div>
</div>

<div class="b-b b-light m-t-xs"></div>

<div class="list m-t-sm">
  <div class="item item-avatar item-text-wrap b-none m-b-sm" ng-repeat="i in [0,1,2]" ui-sref="tab.chat({id: $index})">
    <img src="img/ben.png" alt="" random-avatar>
    <div class="font-bold">Ben Aflech</div>
    <p>Hey I like your current pins</p>
    <div class="text-xs text-muted pos-abt right top font-bold">15m</div>
  </div>
</div>
