<!-- You -->
<div class="list m-t-sm">
  <div class="item item-avatar item-text-wrap r-2x b-none m-b-sm" ng-repeat="i in [0,1,2,3,4,5]">
    <img src="img/ben.png" alt="">
    <div class="row no-padder">
      <div class="col-75 text-sm l-h-1x m-b-sm">
        <span class="font-bold">Ben Aflech</span> saved your Pin
        <div class="text-xs text-muted m-t-xs">2 days ago</div>
      </div>
      <div class="col-25 text-right">
        <div class="object-thumb inline m-n" ng-style="{'background-image': 'url(\'' + 'img/item_1.jpg' + '\')'}"></div>  
      </div>
    </div>
  </div>
</div>
