<ion-modal-view>
  <ion-header-bar class="no-bg">
    <button class="button button-icon ion-android-close" ng-click="closePinit()"></button>
    <h1 class="title">Choose board</h1>
  </ion-header-bar>

  <ion-content delegate-handle="messageScroll">
    <div class="list m-n">
      <div class="item b-none item-text-wrap item-thumbnail-left" href="#">
        <img src="img/item_1.jpg" class="r-3x">
        <p class="text-muted" contenteditable="true">Promo pic for Antonio Mora, who fuses images found in blogs and magazines.</p>
      </a>
    </div>

    <div class="padder">
      <button class="button button-clear button-small icon icon-small ion-social-facebook"></button>
      <button class="button button-clear button-small icon icon-small ion-ios-location"></button>
    </div>

    <div class="b-b b-light"></div>

    <div class="list m-n">
      <div class="item item-divider text-muted no-bg b-none text-xs">Top choices</div>
      <div class="item item-avatar item-text-wrap b-none">
        <img src="img/collection.png" alt="" class="object-thumb inline">
        <div class="m-t-sm font-bold">Quote</div>
      </div>
      <div class="item item-avatar item-text-wrap b-none">
        <img src="img/collection.png" alt="" class="object-thumb inline">
        <div class="m-t-sm font-bold">For the Home</div>
      </div>
      <div class="item item-avatar item-text-wrap b-none">
        <img src="img/collection.png" alt="" class="object-thumb inline">
        <div class="m-t-sm font-bold">Men's fashion</div>
      </div>

      <div class="b-b b-light m-t-xs"></div>

      <div class="item item-divider text-muted no-bg b-none text-xs">All boards</div>
      <div class="item item-avatar item-text-wrap b-none" ng-repeat="i in [0,1,2,3,4,5,6]">
        <img src="img/collection.png" alt="" class="object-thumb inline">
        <div class="m-t-sm font-bold">Collection {{$index + 1}}</div>
      </div>

      <div class="item item-icon-left b-none">
        <i class="icon ion-plus-circled assertive"></i>
        <div class="font-bold text-lg text-muted">Create board</div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
