<ion-modal-view class="modal-small modal-smaller">
    <ion-content>
        <div class="wrapper-sm padder-v">
            <div class="item item-divider text-muted no-bg text-sm b-none">Compartilhar</div>
        </div>


        <div class="wrapper-sm padder-v">
            <div class="item item-icon-left item-text-wrap b-none" ng-click="socialShare(0)">
                <i class="icon ion-social-whatsapp"></i>
                <div class="font-bold">Whatsapp</div>
            </div>
            <div class="item item-icon-left item-text-wrap b-none" ng-click="socialShare(1)">
                <i class="icon ion-social-facebook"></i>
                <div class="font-bold">Facebook</div>
            </div>
            <div class="item item-icon-left item-text-wrap b-none">
                <i class="icon ion-social-instagram-outline"></i>
                <div class="font-bold">Instagram</div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
  