<!-- Galeria -->
<div class="item item-icon-left b-none" ng-click="openAddAlbum()">
    <i class="icon ion-plus-circled assertive"></i>
    <div class="font-bold text-lg text-muted">Novo Album</div>
</div>

<div class="m-b-xl" ng-repeat="i in [0,1,2,3,4]" ui-sref="tab.album">
    <div class="text-xl font-bold">Album {{$index + 1}}</div>
    <div class="text-muted text-xs font-bold m-b-xs">1.9k</div>

    <div class="pins m-b-sm">
        <div class="columns-3">
        <img ng-src="img/item_{{$index % 4 + 1}}.jpg" class="w-full" alt="" ng-repeat="i in [0,1,2,3,4,5,6,7]"/>
        </div>
    </div>
</div>
