<ion-view view-title="" hide-nav-bar="false">
    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
    
        <ion-nav-buttons side="right">
        <button class="button button-clear m-r-sm" ng-click="openEdit()"><i class="icon ion-edit text-sm icon-small"></i></button>
        <button class="button button-clear"><i class="icon ion-ios-trash"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content ion-sticky>
        <div class="wrapper">
            <img ng-src="img/item_{{postId}}.jpg" alt="" class="post-image w-full m-b">
        
            <div class="row no-padder m-b-sm l-h-1x text-xxs">
                <div>
                <div class="clear text-xs l-h">
                    <div class="m-b-xs">
                    <p>Descrição da tatuagem de exemplo, signifado do trampo, caracteristicas especificas, etc</p>
                    <p><span class="font-bold">Maori, tribal, Old School...</span></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    
    </ion-content>
</ion-view>
      