<ion-view view-title="" hide-nav-bar="false">
    <ion-nav-bar>
      <ion-nav-back-button>
      </ion-nav-back-button>
  
      <ion-nav-buttons side="right">
        <button class="button button-clear m-r-sm" ng-click="openTatuadorEdit()"><i class="icon ion-edit text-sm icon-small"></i></button>
        <button class="button button-clear"><i class="icon ion-gear-b"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="wrapper-sm has-header has-notification-header" ng-switch="activeTab">
      <div>
        <div class="row no-padder m-t-md m-b-sm">
          <div class="col-60">
            <div class="text-2x font-bold m-b">Peter Parker</div>
            <ion-card>  
              <div class="m-b-xs l-h-1x ">
                <div class="font-bold text-xxs backgroud-color-yellow">Você pode configurar um texto padrão e suas #Hashtags para facilitar em suas postagens, clique aqui e configure.</div>
              </div>
            </ion-card>
          </div>
          <div class="col-40 text-right" ng-click="openActionSheetFotos()">
            <img src="img/ben.png" alt="" class="thumb-xl rounded" random-avatar>
          </div>
        </div>
      </div>
      <div>
        <ng-include src="'templates/me/tatuador/albuns.html'"></ng-include>
      </div>
    </ion-content>
</ion-view>
