<ion-content>
    <div class="wrapper-sm bg-white">
      <div class="row no-padder m-t-md m-b-sm">
        <div class="col-60">
          <div class="text-2x font-bold m-b">Peter Parker</div>
          <div class="m-b-xs l-h-1x">
            <div class="font-bold text-xxs">Vai rabetão tão tão, tão tão tão no chão, estou colocando um textão pra ver se fica zoado a descrição</div>
            <div class="text-xs">Maori, Desenho, Tribal, DarkOldSkull, Teste</div>
          </div>
        </div>
        <div class="col-40 text-right" ng-click="openActionSheetFotos()">
          <img src="img/ben.png" alt="" class="thumb-xl rounded" random-avatar>
        </div>
      </div>

      <div class="list">

          <div class="item item-icon-left">
            <i class="icon ion-email"></i>
            spider@gmail.com
          </div>
        
          <div class="item item-icon-left">
            <i class="icon ion-ios-telephone-outline"></i>
            (17) 99244 81 99
          </div>

          <div class="item item-icon-left">
            <i class="icon ion-clipboard"></i>
            CPF 999.999.999-99 
          </div>
        
        </div>
    </div>
  </ion-content>