<!-- Galeria -->
<div class="item item-icon-left b-none" ng-click="openActionSheetFotos()">
    <i class="icon ion-plus-circled assertive"></i>
    <div class="font-bold text-lg text-muted">Nova Foto</div>
</div>

<div class="b-b b-light m-t-xs"></div>

<div class="posts list" masonry masonry-options="{ transitionDuration: '0s' }" preserve-order>
    <div class="post item item-text-wrap no-padder b-none masonry-brick" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
        <img ng-src="img/item_{{$index%4 + 1}}.jpg" class="post-image img-full" alt="">
    </div>
</div>
