<ion-view view-title="Search" hide-nav-bar="true">
  <ion-header-bar class="item-input-inset b-none bar-no-border">
    <div class="item-input input-search r-2x w-full stable-bg" ng-init="isFocus = false">
      <i class="icon ion-search text-muted"></i>
      <input type="text" placeholder="Search" ng-model="query" ng-focus="isFocus = true" ng-blur="isFocus = false">
    </div>
  </ion-header-bar>

  <ion-content ion-sticky>
    <div class="list" ng-if="!isFocus">
      <div class="m-t m-b">
        <div class="item font-bold text-xl padder-md b-none">
          Men's fashion
        </div>
        <div class="item font-bold text-xl padder-md b-none">
          Wedding
        </div>
        <div class="item font-bold text-xl padder-md b-none">
          Popular
        </div>
      </div>

      <div class="item item-divider light-bg b-none text-sm text-muted padder-md">
        All Categories
      </div>
      <div class="item font-bold text-xl padder-md b-none">
        Popular
      </div>
      <div class="item font-bold text-xl padder-md b-none" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
        Other category
      </div>
    </div>

    <div class="list" ng-if="isFocus">
      <div class="item item-divider light-bg b-none text-sm text-muted padder-md">
        Recent Searches
      </div>
      <div class="item font-bold text-xl padder-md b-none" ng-repeat="i in [1,2,3]">
        Suggestion {{$index + 1}}
      </div>

      <div class="item item-divider light-bg b-none text-sm text-muted padder-md">
        People
      </div>
      <div class="padder-md" ng-repeat="i in [1,2,3,4,5,6,7,8]">
        <img src="img/adam.jpg" random-avatar alt="" class="thumb-xs rounded pull-left m-r-xs">
        <div class="clear">
          <div class="text-lg font-bold">Adam Sandler</div>
          <p class="text-sm">adamsand</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
