<ion-modal-view>
  <ion-header-bar>
    <button class="button button-icon ion-android-close" ng-click="closeLogin()"></button>
    <h1 class="title"><span class="font-bold">Login</span></h1>
  </ion-header-bar>

  <ion-content>
    <div class="wrapper clearfix">
      <button class="button button-block button-positive" ng-click="login()">
        <b>Login com Facebook</b>
      </button>

      <button class="button button-block button-assertive" ng-click="login()">
        <b>Login com Google</b>
      </button>

      <div class="b-b b-light"></div>
    </div>

    <div class="list b-none m-n">
      <label class="item b-none item-input item-stacked-label">
        <span class="input-label text-xs">Email</span>
        <input type="text" class="input-big" placeholder="Digite seu email">
      </label>

      <div class="padder">
        <div class="b-b b-light"></div>
      </div>

      <label class="item b-none item-input item-stacked-label">
        <span class="input-label text-xs">Senha</span>
        <input type="password" class="input-big" placeholder="Digite sua senha">
      </label>
    </div>

    <div class="wrapper">
      <button class="button button-block button-stable" ng-click="login()">
        <b>Log in</b>
      </button>
    </div>

    <button class="button button-block button-clear button-small button-dark"><span class="font-bold">Esqueceu a senha?</span></button>
  </ion-content>
</ion-modal-view>
